<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="text">
        <div>
          <div style="display: inline-block">
            <h1 style="float: left"><%= title %></h1>
            <h1 class="flash">|</h1>
          </div>
          <p>Computer Scientist | Student | Sports Fanatic | Food Enthusiast</p>
          <form action="/users" method="GET">
            <button>About Me</button>
          </form>
        </div>
      </div>
  </body>
</html>
