<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="text">
        <div>
          <h1><%= title %></h1>
          <p>Computer Scientist | Student | Sports Fanatic | Food Enthusiast</p>
          <form action="/users" method="GET">
            <button>About Me</button>
          </form>
        </div>
      </div>
  </body>
</html>
