
body, html {
  background-image: url("../images/OffWhiteBackground.png");
  height: 100%;
}

h1 {
  font: 100px "Courier New", Courier, monospace;
  font-weight: bold;
  padding-bottom: 3vh;
  margin: 0;
}

p {
  font: 30px "Courier New", Courier, monospace;
  padding-bottom: 3vh;
  margin: 0;
}

button {
  font: 40px "Courier New", Courier, monospace;
  border-radius: 10px;
  font-size: 20px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

a {
  color: #00B7FF;
}
