
body, html {
  background-image: url("../images/OffWhiteBackground.png");
  height: 100%;
}

h1 {
  font: 100px "Courier New", Courier, monospace;
  font-weight: bold;
  padding-bottom: 3vh;
  margin: 0;
}

p {
  font: 30px "Courier New", Courier, monospace;
  padding-bottom: 3vh;
  margin: 0;
}

button {
  font: 40px "Courier New", Courier, monospace;
  border-radius: 10px;
  font-size: 20px;
}

@keyframes cursorflash {
  from, to {color: black;}
  100% {color: transparent;}
}

.flash {
  float: right;
  font-weight: lighter;
  animation-name: cursorflash;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

a {
  color: #00B7FF;
}
